.hidden {
    display: none;
}

button {
    appearance: none;
    border: 0;
    font-family: inherit;
    padding: 0.8em 1em;
    border-radius: 10px; 
    transition: 0.05s background;
    background: #EFEFEF;   
    color: inherit;
}
    
button:active {     
    background: #e0dfdf;
}
