@import url("root.css");

:root {
    --filter-shadow: 0 0 15px 0 #0000003d;
    --accent: #EF4945;
    --foreground-description: #504f4f;
    --border-separator: #E3E2E2;
}

html {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    -webkit-user-drag: none;
}

body {
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content auto;
}

header {
    display: grid;
    background-color: #ffffff;
    /* box-shadow: var(--filter-shadow); */
    border-bottom: 1px solid var(--border-separator);
}
    header img {
        width: 40px;
        height: auto;
    }
    header > section {
        display: grid;
        padding: 20px 20px 10px;
        grid-template-areas: "brand x menu";
        grid-auto-columns: max-content auto max-content;
        align-items: center;
    }
        header > section .brand {
            grid-area: brand;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            gap: 1em;
            font-size: 1.5em;
            font-weight: bold;
            color: #4f4f4f;
        }
        header > section .menu {
            grid-area: menu;
            color: var(--foreground-description);
            margin: -0.75em -0.75em -0.75em 0;
        }
            header > section .menu button {
                padding: 0.75em;
                border-radius: 100%;
            }
            header > section .menu button:not(:active) {
                background: transparent;
            }
    header nav {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: auto max-content;
    }
        header nav > div {
            position: relative;
            display: grid;
            grid-auto-flow: column;
            padding: 15px 10px;
            font-size: 0.8em;
            letter-spacing: 0.05em;
            text-align: center;
            transition: 0.15s background;
            gap: 1ch;
            justify-content: center;
            align-items: center;
        }
        header nav > span.separator {
            display: block;
            width: 1px;
            height: 30px;
            background: var(--border-separator);
            margin: 0 1ch;
        }
        header nav > div:active {
            background: #00000020;
        }
        header nav > div.active::after {
            content: '';
            background-color: var(--accent);
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 3px 3px 0 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
            header nav > div span.material-symbols-outlined {
                font-size: 1.35em;
            }
            header nav > div span {
                color: var(--foreground-description);
            }
            header nav > div.active span {
                color: var(--accent);
            }

article {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
    article .parts {
        scroll-snap-align: start;
        padding: 20px;
        overflow-y: auto;
    }
    body:has(#Grid_Summary:not(.collapsed)) article .parts {
        padding-bottom: 115px;
    }


.list {
    display: grid;
    gap: 25px;
    margin: 10px 0;
}
    .list .item {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content 50px auto max-content;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        margin: -10px -20px;
        transition: 0.15s background;
    }
    .list .item:has(.quantity-group.hidden):active {
        background-color: #00000010;
    }
        .list .item .thumbnail {
            background: #EAEAEA;
            width: 50px;
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 7px;
            object-fit: contain;
        }
        .list .item .description {
            display: grid;
        }
            .list .item .description .name {
                font-weight: 500;
            }
            .list .item .description .calorie {
                color: var(--foreground-description);
            }
        .list .item .quantity-group:not(.hidden) {
            display: grid;
            grid-auto-flow: column;
            gap: 1.5ch;
            align-items: center;
        }
            .list .item .quantity-group:not(.hidden) button {
                display: grid;
                font-size: 0.9em;
                padding: 0;
                align-content: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 6px;
                font-weight: bold;
            }

#Grid_Summary {    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto max-content;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    color: white;
    padding: 20px;
    border-radius: 0;
    transition: 0.25s transform;
}
#Grid_Summary.collapsed {
    transform: translateY(calc(100% + 20px));
}
    #Grid_Summary .description {
        display: grid;
    }
        #Grid_Summary .description #Text_TotalCalories {
            font-size: 1.95em;
            font-weight: bold;
            line-height: 1;
            margin-top: 0.05em;
        }
    #Grid_Summary button {
        display: grid;
        grid-auto-flow: column;
        font-size: 1.1em;
        padding: 0.5em 0.7em;
        gap: 0.5em;
        height: 50px;
        align-items: center;
        align-content: center;
        color: var(--accent);
    }